<form class="form-signin">
  <div class="form-group">
    <input
      type="number"
      [(ngModel)]="salary.bruto"
      id="inputBruto"
      name="inputBruto"
      class="form-control"
      placeholder="bruto znesek npr. 2500"
      required=""
      autofocus=""
      (input)="calculate()"
    />
  </div>
  <div class="form-group">
    <input
      type="number"
      id="inputTransportAndLunch"
      name="inputTransportAndLunch"
      [(ngModel)]="salary.transportAndLunch"
      class="form-control"
      placeholder="strošek prevoza in malice npr. 200"
      required=""
      (input)="calculate()"
    />
  </div>
  <div class="form-group">
    <input
      type="number"
      id="inputKidsNumber"
      name="inputKidsNumber"
      [(ngModel)]="salary.noOfChildren"
      class="form-control"
      placeholder="št. vzdrževanih otrok npr. 2"
      required=""
      (input)="calculate()"
    />
  </div>

  <div class="form-group">
    <span *ngIf="salary.withGeneralRelief">S splošno olajšavo</span>
    <span *ngIf="!salary.withGeneralRelief">Brez splošne olajšave</span>
    <label class="switch ">
      <input
        type="checkbox"
        class="default"
        id="generalRelief"
        name="generalRelief"
        [(ngModel)]="salary.withGeneralRelief"
        (change)="calculate()"
      />
      <span class="slider"></span>
    </label>
  </div>

  <hr />

  <span class="mt-5 mb-3 text-muted">Nakazilo na račun:</span>

  <h2 class="display-5">{{ salary.neto | number: "1.0-2" }} €</h2>
</form>
