.jumbotron {
  margin-bottom: 0px;
  padding: 1rem 1rem;
  border-radius: 0px;
}

#disclamer {
  display: none;
}

ul.centered {
  display: table;
  margin: auto;
}

ul.centered > li {
  text-align: left;
}
